FLASK_APP=app.py
FLASK_ENV=development

# Database URL (SQLAlchemy)
DATABASE_URL=mysql+pymysql://root:@localhost/books_db

# Flask secret key (dev)
SECRET_KEY=

# Internal auth between services
INTERNAL_API_KEY=
